[2017-08-21 15:45] mridulnagpal opened #1 "Publish blurred location to npm so that we can import that to this one"
I think we should do that first, what do you say?

[2017-08-21 15:47] mridulnagpal opened #2 "Adding travis CI to the repo"
Can you tell me how to do it, like you did it n the previous repo

[2017-08-21 15:50] mridulnagpal opened #3 "Displaying co-ordinates more precise than current position"
We need to just display all the co-ordinates that exist in the database, with greater than or equal to the current precision, using `getPrecision()` from the object  `blurredlocation`

[2017-08-21 15:52] mridulnagpal opened #4 "Adding basic html layout for it to work"
Do I copy the html code from the leaflet-blurred-location repo, as we will be need the objects to display location.

[2017-08-21 15:53] mridulnagpal opened #5 "Adding a README.md"
In this we can tell the users about the privacy statement that there location won't be displayed if the current precision is greater than the user's location precision.

[2017-08-21 20:04] jywarren commented on #4
You could copy much of it, but you can also use a more basic Leaflet map
example from leafletjs.org -- and use a list of locations in an array.

On Mon, Aug 21, 2017 at 11:52 AM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-08-21 20:06] jywarren commented on #3
Ah, but instead couldn't we work from the precision of the given location
in a standard format like `[42.0, 52.04]` rather than depending on a full
LeafletBlurredLocation object? We can require LeafletBlurredLocation and
create a location for each instance if you want, but I think the input for
this library should be simpler to start with.

On Mon, Aug 21, 2017 at 11:50 AM, Mridul Nagpal <notifica

[2017-08-21 20:07] jywarren commented on #2
Oops - i had to rename the repo to "leaflet-blurred-location-display" for
consistency. But i'll add travis, you just need to add a .travis.yml file,
like:
https://github.com/publiclab/leaflet-blurred-location/blob/master/.travis.yml

On Mon, Aug 21, 2017 at 11:47 AM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-08-21 20:09] jywarren commented on #2
OK! https://travis-ci.org/publiclab/leaflet-blurred-location-display

On Mon, Aug 21, 2017 at 4:07 PM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2017-08-21 20:33] jywarren commented on #1
sure, are we ready for an initial version? But see what i replied to your
other issue - we could take the inputs of:

[
  {lat: 23.151, lon: 85.201, text: "..."}
]

as the constructor data for this lib, and then if we want we can include in
LBL to create blurred objects for each, i guess.

On Mon, Aug 21, 2017 at 11:45 AM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-08-21 21:15] mridulnagpal commented on #1
Yes we can do this, but won't we have to wrap up leaflet-blurred-location before the final evaluation?

[2017-08-21 21:20] jywarren commented on #1
yes, that's right in any case. thanks!

On Mon, Aug 21, 2017 at 5:15 PM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-08-23 04:50] mridulnagpal commented on #3
:+1:

[2017-09-02 17:33] jywarren commented on #1
https://www.npmjs.com/package/leaflet-blurred-location

[2017-09-02 17:33] #1 closed

[2017-09-02 17:54] mridulnagpal commented on #1
Can you add me as a contributor for the npm package, so that I can add it to my resume?

[2017-09-02 18:05] jywarren commented on #1
Yes but what's your npm username?

On Sep 2, 2017 1:54 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-09-02 18:30] mridulnagpal commented on #1
mridulnagpal

On 02-Sep-2017 11:35 PM, "Jeffrey Warren" <notifications@github.com> wrote:

Yes but what's your npm username?

On Sep 2, 2017 1:54 PM, "Mridul Nagpal" <notifications@github.com> wrote:

display/issues/1#issuecomment-326760030>,

AABfJ00MR4M8dBjoSnOE115PdmpUJQZKks5seZZlgaJpZM4O9hS1>

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Gi

[2017-09-03 13:22] jywarren commented on #1
Done!

On Sep 2, 2017 2:30 PM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-09-04 04:30] mridulnagpal commented on #4
I think this is done, closing issue

[2017-09-04 04:30] #4 closed

[2017-09-04 04:32] mridulnagpal commented on #2
Perfect, closing this one for now!! Cheers!!

[2017-09-04 04:33] #2 closed

[2017-09-04 04:40] mridulnagpal commented on #3
Basic functions do work, how o we proceed further?

[2017-09-04 11:45] jywarren commented on #3
Can you mark which PRs are ready to merge? Also can you set up a GH pages
demo? Thanks!!

On Sep 4, 2017 12:40 AM, "Mridul Nagpal" <notifications@github.com> wrote:

[2017-09-05 23:28] jywarren commented on #4
great!

On Mon, Sep 4, 2017 at 12:30 AM, Mridul Nagpal <notifications@github.com>
wrote:

[2017-09-05 23:29] #5 closed

[2017-09-05 23:30] jywarren commented on #3
Looking great... if you can add the gh-pages link to the readme once it's ready that'd be super. Thank you!!! exciting.

[2017-09-06 00:27] mridulnagpal commented on #3
On it!!

[2017-09-13 06:44] mridulnagpal commented on #3
Can you grant me master access to this repo as well, for smoother functioning?

[2017-09-13 13:34] jywarren commented on #3
done!

On Wed, Sep 13, 2017 at 2:44 AM, Mridul Nagpal <notifications@github.com>
wrote:

[2018-03-03 05:10] mridulnagpal opened #9 "Adding features to leaflet blurred location display (needs breaking up into separate issues)"
@jywarren Shall we extend this as well. Can you create some issues, I would love to work on this!!

[2018-03-09 21:31] jywarren commented on #9
Yes, let's do! Are there some we can copy over from the big planning issue
in leaflet-blurred-location?

I have one: add the ability to re-center the map via a geocoding search
field. It could be almost identical to the input system, but just recenter
the map of displayed locations. Make sense?

Also 2b on this has a lot: https://github.com/publiclab/plots2/issues/1416

On Sat, Mar 3, 2018 at 12:1

[2018-03-12 11:09] mridulnagpal commented on #9
@jywarren Can you give an example?

[2018-03-12 20:02] jywarren commented on #9
Sure! Basically imagine using this library over at http://publiclab.org/people -- and imagine you want to enter `Kenya` and see mostly people around Kenya. There could be a search text input to type "kenya" and just like in the location input form for adding to your profile, it could autocomplete and show suggestions like "Nairobi, Kenya" for example. If you clicked that, it'd recenter the map and

[2018-04-08 12:59] mridulnagpal commented on #9
Isn't something like this already being done in leaflet blurred location?

[2018-04-11 06:02] mridulnagpal commented on #9
@jywarren Can you give a code example?

[2018-04-24 16:52] sagarpreet-chadha commented on #9
Hi @mridulnagpal !

I think we have various maps (including inline maps) on our website , so i think lets create a new library or may be use this library to create a library such that we can display all maps using this library **only** AND each map having its own unique feature like  :
  * **/people map** with SEARCH + Recent Contributors  ,
  * **/profile** with FULL Screen And Near-by Users mayb

[2018-06-06 19:35] jywarren commented on #3
I believe this is long complete :-)

[2018-06-06 19:36] jywarren commented on #3
Oh no, i was thinking of the wrong repository! Re-opening it!

[2018-06-23 02:11] mridulnagpal commented on #9
@jywarren Let's continue with this, shall we?

[2018-06-24 16:59] mridulnagpal commented on #9
@jywarren Any views?

[2018-06-26 15:50] jywarren commented on #9
Sorry Mridul! Been traveling (again!). Looking over this now.

[2018-06-26 16:00] jywarren commented on #9
So, the basic function is:

[code]

I like what @sagarpreet-chadha is suggesting -- i think the ability to search the map is key.

[2018-06-29 16:03] jywarren commented on #9
So does this make sense? That in this library, as you zoom in, some locations appear only within some zoom levels, that are close to the precision they were entered in? If they have lots of precision, they might appear in many zoom levels, but if they are very imprecise (highly blurred), they would be hidden once you zoom in too far.

We could write a test to check for this -- so it would start th

[2018-06-29 16:19] sagarpreet-chadha commented on #9
Hi @jywarren ...dynamic fetching of new data on zooming or panning is still not solved in this issue https://github.com/publiclab/plots2/issues/1934 (and not done by me 😄) .

Lets confirm if @stefannibrasil and @milaaraujo are working on it ❓
Else i will start work on it 👍 👍 👍

Thanks !

[2018-06-29 16:21] sagarpreet-chadha commented on #9
I have done that in leaflet-environmental-layers as of now 😄 .

[2018-06-29 16:53] mridulnagpal commented on #9
@sagarpreet-chadha @jywarren How do we fetch all the location objects from the database?

[2018-06-29 17:14] jywarren commented on #9
ah, sorry, that issue seems so long ago! Thanks!

On Fri, Jun 29, 2018 at 12:54 PM Mridul Nagpal <notifications@github.com>
wrote:

[2018-06-29 23:12] stefannibrasil commented on #9
Hi, everyone, for now we are not working on that, but we definitely can in the next weeks! What I am almost finishing is this #2790

[2018-07-11 16:48] jywarren commented on #9
For starters i think you can use a set of example data that's in the same format, so look at functions here:

https://publiclab.org/api/docs/ and https://github.com/publiclab/plots2/blob/master/doc/API.md

and maybe use https://publiclab.org/api/srch/taglocations?srchString=41,-89

You can have this be an example file you save statically in the library, in fact, in the example.

[2018-07-11 16:49] jywarren commented on #9
But we might also think about the API providing a standard GeoJSON output?

[2018-07-12 13:34] mridulnagpal commented on #9
@jywarren Working on a prototype, will push a demo soon!!

[2018-07-12 15:03] mridulnagpal commented on #9
Hey @jywarren I tried
`        $.getJSON("https://publiclab.org/api/srch/taglocations?srchString=41,-89", function(data) {
        	console.log(data);
        });
`
And am getting the error:

Failed to load https://publiclab.org/api/srch/taglocations?srchString=41,-89: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access.

[2018-07-12 17:02] icarito commented on #9
Sure, will do!

On 12/07/18 11:13, Jeffrey Warren wrote:

[2018-07-13 05:36] icarito commented on #9
Hi!
Please test! I think widely enabling `Access-Control-Allow-Origin` could facilitate some spoofing so I've enabled it **only** for the `/api/` routes! I hope that is enough? Let me know if you want other routes with that header added!

[2018-07-13 07:13] mridulnagpal commented on #9
@icarito Yeah thanks man it works!!

[2018-07-13 07:13] mridulnagpal commented on #9
@jywarren Here is the prototype
![blurreddisplay](https://user-images.githubusercontent.com/22350740/42677750-5c028fa2-869a-11e8-8a05-0da11e3d854a.gif)

[2018-07-15 00:57] stefannibrasil commented on #9
hey, everyone, @milaaraujo and I would be happy to help with anything. Do you still need some method from the API that we can help with? Cheers!

[2018-07-15 08:12] mridulnagpal commented on #9
@stefannibrasil The CORS error was resolved and now I can use the API, thanks :)

[2018-07-18 13:06] jywarren commented on #9
Ooh, this is really nice @mridulnagpal -- do you have a PR open for this? Do you think you could configure your fork's `gh-pages` branch and push this code there so we can try it out at https://mridulnagpal.github.io/Leaflet.BlurredLocationDisplay/examples/ ?

Great work!

[2018-07-18 13:07] jywarren opened #10 "Ability to toggle between "markers" and "shaded regions" to display locations"
When showing "shaded regions" clicking in a shaded region could pop up a list of the points within that region?

Perhaps as a break-out, shaded regions could be darker if there are more points within?

[2018-07-22 10:29] mridulnagpal commented on #9
@jywarren Done, you can test it here!!
https://mridulnagpal.github.io/leaflet-blurred-location-display/examples/

[2018-07-22 10:32] mridulnagpal commented on #10
@jywarren Like a pop-up right? For getting list of all points in that region.

[2018-07-22 10:38] mridulnagpal commented on #10
@publiclab/soc @jywarren How do I get all points between 4 lat,lng points using the API, or till what radius are the points fetched from the center lat,lng?

[2018-07-23 22:32] jywarren commented on #10
Maybe this is a question for @milaaraujo @stefannibrasil ? I think we can search for people and nodes in a bounding box in the API... or maybe we need to add this?

[2018-07-23 22:37] jywarren commented on #9
Cool! I'm not seeing any markers, though. And there does seem to be an old error, maybe we're not using the latest version here?

![image](https://user-images.githubusercontent.com/24359/43106627-8148f20a-8ea7-11e8-8cc5-ba1218a600b5.png)

But good start, exciting!

[2018-07-24 01:46] stefannibrasil commented on #10
hi, everyone!

we would need to add that, right now it is only getting the nodes near the given coordinates (lat and lon points):

https://github.com/publiclab/plots2/blob/5574837fa2ada7f253d401d65469fa7ec39566fb/app/services/search_service.rb#L130-L166

I am not really sure how the radius is calculated there :thinking:

[2018-07-24 01:48] stefannibrasil commented on #10
https://github.com/publiclab/plots2/blob/5574837fa2ada7f253d401d65469fa7ec39566fb/app/services/search_service.rb#L130-L166

[2018-07-24 01:49] stefannibrasil commented on #10
https://github.com/publiclab/plots2/blob/5574837fa2ada7f253d401d65469fa7ec39566fb/app/services/search_service.rb#L130-L136

[2018-07-24 01:58] stefannibrasil commented on #10
don't know why the code snippet isn't working, but there is the definition for the endpoint that get the nearby nodes given a pair of coordinates

[2018-07-24 02:04] stefannibrasil commented on #10
I am not sure why the code snippet isn't working, but there you can see that it only show the nearby nodes given a pair of coordinates... all of this to say that we can work on that in the next weeks!

[2018-07-25 08:56] mridulnagpal commented on #9
@jywarren I am directly installing from npm, should we update the version there?

[2018-07-25 08:58] mridulnagpal commented on #10
@stefannibrasil @jywarren Sounds good as soon as the radius is known we can work on getting all the nodes inside a box.

[2018-07-27 11:03] mridulnagpal commented on #9
@jywarren #10 will be done once the API is updated, what should we add till then?

[2018-07-27 21:52] jywarren commented on #9
OK i'm publishing a new version on npm! But, where do I look for the markers? Should I be seeing them when I start it up?

[2018-07-27 21:53] jywarren commented on #9
published!

[2018-07-27 22:09] jywarren commented on #9
Can we put a list of sample locations in the `example/index.html` file to show how this works, in the demo? And is this code now in the master branch? Can you push it into the publiclab/gh-pages branch too so we can show the demo there? Thanks!

[2018-07-27 22:09] jywarren commented on #9
And with demo locations in the example file, we can move forward on #10, too, right? Thanks, Mridul!!!

[2018-07-29 13:09] mridulnagpal commented on #9
@jywarren Do you mean move to a location by default where there are already tags?

[2018-08-01 09:57] mridulnagpal commented on #9
Got it, working on it!!

[2018-08-02 20:51] jywarren commented on #10
OK, great! I also made a gh-pages at https://publiclab.github.io/leaflet-blurred-location-display/examples/index.html although it may take a little while to show up

[2018-08-02 22:38] jywarren commented on #10
There we go!

[2018-08-02 22:39] jywarren commented on #10
https://publiclab.github.io/leaflet-blurred-location-display/examples/index.html

[2018-08-03 11:24] mridulnagpal commented on #10
@jywarren Is the API done?

[2018-08-03 11:25] mridulnagpal commented on #9
@jywarren What's next?

[2018-08-03 15:46] jywarren commented on #10
No, but just as you've added example locations, you can add ones that
specify precision, and develop this display around the example data, don't
you think?

On Fri, Aug 3, 2018 at 7:25 AM Mridul Nagpal <notifications@github.com>
wrote:

[2018-08-08 10:37] mridulnagpal commented on #10
@jywarren Got it, working on it!

[2018-08-11 12:29] mridulnagpal commented on #9
@jywarren Should we move to something new as well?

[2018-08-15 11:30] jywarren commented on #9
Yes, as soon as you're getting #13 working, i think you should think about how each grid square could be shaded darker based on how many blurred locations are within it -- want to think a little bit about how that could work? Would a function go through the visible grid squares and count, then establish a scale from "none" to "many" and shade accordingly, each time `setZoom` is run?

[2018-11-27 20:46] jywarren commented on #10
Breaking out an issue to develop ways to show multiple data points that have been blurred as a kind of "heat map" or chloropleth?

https://deutchland.maps.luftdaten.info/#4/35.03/5.40 does this in Leaflet, although with a hex grid...

![screen shot 2018-11-27 at 3 45 15 pm](https://user-images.githubusercontent.com/24359/49110467-9759f180-f25b-11e8-8fb8-66db589ea972.png)

There are for sure Leafle

[2018-11-28 04:52] sagarpreet-chadha commented on #10
This is really cool 😄 . Will start work on this tomorrow 👍 !

[2019-01-18 06:54] sagarpreet-chadha opened #17 "Planning issue ."
###  Task List  ⭐️  :

- [ ] 1. A spec for describing the precision of location data in human terms
    - this wouldn't need to be incredibly formal, but we would basically try to write out a very precise and clear description of the role LBL fulfills, abstractly. It could include very clear examples of how location is blurred and how much precision it "degrades" for each level. Does this make sen

[2019-01-18 06:56] sagarpreet-chadha commented on #17
@jywarren ...lets add here 😄 !

[2019-02-05 10:04] sagarpreet-chadha opened #18 "Add/remove markers as zoom level change ."
Reference : https://github.com/publiclab/leaflet-blurred-location-display/issues/9#issuecomment-383973448

[2019-02-05 11:12] sagarpreet-chadha opened #19 "Get current rectangle coordinates ."
In LBL ,  we know the interval between grid for different zoom levels .

<img width="604" alt="screenshot 2019-02-05 at 4 38 36 pm" src="https://user-images.githubusercontent.com/14952645/52269588-81a42f00-2964-11e9-8d0e-6c74e5419f44.png">

From leaflet we can calculate centre of map and get coordinates .

`BlurredLocation.map.getCenter() ;`

Using the interval and centre coordinate => we can calc

[2019-02-05 17:17] jywarren commented on #18
@icarito can you see about enabling CORS for requests to /api/ on plots2? (@sagarpreet-chadha maybe you can reach out to icarito in chat if he needs more info?)

[2019-02-05 17:17] jywarren commented on #18
Yes, this makes sense - it's like a filter that accepts and outputs an array, and each API call we run the returned markers through it!

[2019-02-05 17:18] jywarren commented on #18
We can write a simple test to show that only the correct precisions are passed through the filter -- very test-able!

[2019-02-05 17:45] sagarpreet-chadha commented on #18
What should be the logic to filter coordinates @jywarren ? Is the one i proposed above makes sense ? Thanks !

[2019-02-05 17:47] jywarren commented on #18
yes, i think so. It could be a simple conditional if the precision falls
within the specified range. The filter could be configured with
`.filter(top, bottom)` perhaps? or `filter(markers, top, bottom)`?

On Tue, Feb 5, 2019 at 12:45 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-02-05 19:43] sagarpreet-chadha opened #21 "Heatmap or aggregate means of displaying locations"
- explore heatmap or aggregate means of displaying locations that, for example, fall in the same grid square, using varying shades to indicate density

-  explore above heatmap display (configurable with a constructor parameter) with ability to click on a grid square to expose a list of points within that square

I guess to get started :

1.  We should make a function to get current grid square co

[2019-02-05 19:46] sagarpreet-chadha commented on #21
Found your comment here : https://github.com/publiclab/leaflet-blurred-location-display/issues/10#issuecomment-442210913

Breaking out an issue to develop ways to show multiple data points that have been blurred as a kind of "heat map" or chloropleth?

https://deutchland.maps.luftdaten.info/#4/35.03/5.40 does this in Leaflet, although with a hex grid...

![screen shot 2018-11-27 at 3 45 15 pm](htt

[2019-02-05 20:07] sagarpreet-chadha commented on #21
@jywarren

chloropleth seems like a great idea !
But this would be like an overlay layer , right ?  (and will be not related to grid-squares) .

**We need to figure out how to create geoJSON , and then we can make this .**

Example  from https://leafletjs.com/examples/choropleth/ :
<img width="906" alt="screenshot 2019-02-06 at 1 34 00 am" src="https://user-images.githubusercontent.com/14952645/52

[2019-02-05 20:56] jywarren commented on #21
I think we could use the idea of a chloropleth but using our own grid, what
do you think?

On Tue, Feb 5, 2019 at 3:08 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-02-06 04:19] icarito commented on #18
Hey I went to enable CORS but found - **Access-Control-Allow-Origin** : * - already present

[2019-02-06 05:01] icarito commented on #18
Just for consistency and in case it helps I've allowed CORS to our staging instances! Let me know if something more is needed.

[2019-02-06 07:36] sagarpreet-chadha commented on #18
This was the error :
`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at ...
(Reason: CORS request not http).`

It is working now @icarito . Thank you 😄 !

[2019-02-06 17:39] sagarpreet-chadha commented on #21
The only problem is the generation of geoJson .

Also , if somehow we generate for lets say zoom level 5 , when we zoom in --- the size of grid square changes and we need to remove previous chloropleth layer and using new geoJson input generate new one .

[2019-02-06 18:11] sagarpreet-chadha commented on #21
@jywarren ... what do you think of a heatmap , maybe as an overlay layer ?

I guess the advantage of using heatmap would be that we have to fetch data **once** !
As we zoom in/out the heatmap layer adjusts itself relatively .

See this Demo : http://leaflet.github.io/Leaflet.heat/demo/

[2019-02-06 18:29] #18 closed

[2019-02-06 21:37] jywarren commented on #21
Hi, Sagarpreet, i wonder if we could generate geoJSON based on our grid, and color that?

The problem with the heatmap is that it will work with the truncated location, not the "region" within which it falls. I think I'd prefer to try to just apply fill color to the grid we already draw with LBL, does that make sense?

Also noting - I just enabled Dependabot, which should help us keep our dependen

[2019-02-06 21:37] jywarren commented on #21
Hi, Sagarpreet, i wonder if we could generate geoJSON based on our grid, and color that?

The problem with the heatmap is that it will work with the truncated location, not the "region" within which it falls. I think I'd prefer to try to just apply fill color to the grid we already draw with LBL, does that make sense?

Also noting - I just enabled Dependabot, which should help us keep our dependen

[2019-02-18 14:26] sagarpreet-chadha opened #38 "Establish a simple way to instantiate individual locations and collections"
Hi @jywarren ,

We need to figure a way of passing static locations (instead of fetching from some API) to the LBLD API , right ?

Kindly confirm this. Thanks 😄 !

[2019-02-18 14:30] jywarren commented on #38
Yes well we should be able to parsed a Json file whether it's static or
dynamic - here I think we should just be able to declare var location = new
L.BlurredLocation, or something. See the constructor in leaflet
DistortableImage as an example!

On Mon, Feb 18, 2019, 6:27 AM Sagarpreet Chadha <notifications@github.com
wrote:

[2019-02-18 14:31] jywarren commented on #38
Or here's a good example
https://github.com/publiclab/leaflet-multispectral/blob/main/README.md#usage

On Mon, Feb 18, 2019, 6:30 AM Jeffrey Warren <jeff@unterbahn.com wrote:

[2019-02-18 14:33] sagarpreet-chadha opened #39 "Define a source URL parameter to point the library at the API"
We need to tell the API parameters format to the user in README (it has to be of a specific format) . Also the API should be of following format :

<img width="789" alt="screenshot 2019-02-18 at 8 00 18 pm" src="https://user-images.githubusercontent.com/14952645/52957514-d6f62c80-33b7-11e9-8ec0-a5a865dd18d6.png">

[2019-02-19 05:55] sagarpreet-chadha opened #40 "Integration with plots2 ."
We only need to integrate it to **/people** for now .

The current LBLD API definition looks fine , we just have to pass **_BlurredLocation_** object AND integration is done 😄 !

What more changes should be done to make LBLD API more easy to integrate ?

[2019-02-19 06:20] sagarpreet-chadha commented on #38
On it 😄 !

[2019-02-19 08:33] sagarpreet-chadha commented on #39
The API's format should be  :
`"https://publiclab.org/api/srch/nearbyPeople?nwlat=" + NWlat + "&selat=" + SElat + "&nwlng=" + NWlng + "&selng=" + SElng`

[2019-02-19 10:00] sagarpreet-chadha commented on #21
Hi @jywarren ,

Kindly confirm this 😄 :

We need to change the color of the center rectangle (which is now by default red color) to different colors according to the number of markers the center_rectangle has , right ?
We can follow similar color pattern maybe :
<img width="90" alt="screenshot 2019-02-19 at 3 25 05 pm" src="https://user-images.githubusercontent.com/14952645/53006083-8daae900-345a-

[2019-02-19 18:12] jywarren commented on #21
This sounds fantastic. We should show the color key too!

[2019-02-19 18:14] jywarren commented on #39
Great! Could we pass a json parsing function into the lib to handle the response, and use a default that expects GeoJSON, but show how to override it to receive PL API formatted data?

[2019-02-19 18:20] sagarpreet-chadha commented on #39
Great idea :)
Can i implement this after PR #42  gets merged ?
In PR #42 , i have passes source_url as a parameter to LBLD API and used default function for parsing . Thank you !

[2019-02-19 18:21] jywarren commented on #39
I'm going to review 42 next, yeah i thought of that connected to this too. Thanks!!!

[2019-02-19 18:22] sagarpreet-chadha commented on #21
Awesome ! On it once PR #42 gets reviewed :smile: .

[2019-02-19 18:37] jywarren commented on #40
Noting in https://github.com/publiclab/leaflet-blurred-location-display/issues/39#issuecomment-465247714 that we might default to geoJSON but show an example response handler written for the plots2 API.

Also noting we may want to have an optional "precision" parameter and think how this would be used to add an extra layer of protection to be sure we truncate properly?

[2019-02-20 13:33] sagarpreet-chadha commented on #38
@jywarren ,
Check this out  😄 :
https://publiclab.github.io/leaflet-blurred-location-display/examples/example.html

[2019-02-20 18:50] #38 closed

[2019-02-20 18:50] #39 closed

[2019-02-20 18:55] jywarren commented on #17
Looking great!

* [ ] Let's write tests that assert the markers are shown or hidden as in the new example code!
* [ ] let's separate out the UI code like popup code from the data management code using require()
* [ ] let's clarify what happens when local static data AND remote url are both provided, or move to do only one or the other per layer
* [ ] Let's make a demo of switching between shading

[2019-02-20 18:57] jywarren commented on #17
Let's also

* [ ] standardize the method names returned by the constructor function to be more readable and clear
* [ ] make some functions like getMarkersOfPrecision(int) and filterCoordinatesToPrecison(int)

[2019-02-21 05:00] sagarpreet-chadha opened #43 "example of zooming out to show that high precision markers can be made to disappear"
The current demo is here : https://publiclab.github.io/leaflet-blurred-location-display/examples/example.html

<img width="1278" alt="screenshot 2019-02-21 at 10 28 57 am" src="https://user-images.githubusercontent.com/14952645/53144754-88b57900-35c3-11e9-941a-3a3417a337cc.png">

High precision marker with coordinates for example : [23.1234 , 76.1234] .

@jywarren ...What do we wish to show in the

[2019-02-21 05:07] sagarpreet-chadha opened #44 "color code the markers and coordinate text so that people can distinguish the different precisions visually"
- [x] Give different colors to markers according to their precision .

(kindly elaborate these 😄 !)
- [x]  coordinate text

- [ ] one to default to geoJson for Json parsing

[2019-02-21 05:07] jywarren commented on #43
Hi Sagarpreet!!

I guess we either need to develop a standard for when high precision
markers are hidden at zoomed out zoom levels (and how that works; when do
they start getting hidden?) and/or establish a means to set what range of
zooms a given marker should be shown at.

Maybe we can establish a reasonable default range but let people override
it?

On Wed, Feb 20, 2019, 9:00 PM Sagarpreet Chad

[2019-02-21 05:11] jywarren commented on #44
So if we color code the markers by precision, blue could be .00x, red .0x,
green .000x and so on, we could color the text in the demo to match so you
can see what coordinates correspond to which markers based on color. What
do you think?

For geoJson, I'm just thinking we can make the default follow the geoJson
standard. Does it seem like a good idea?

On Wed, Feb 20, 2019, 9:08 PM Sagarpreet Chad

[2019-02-21 05:18] sagarpreet-chadha commented on #43
Yes it makes sense to give power to override the range of zoom-levels where 'x' precision marker should be visible  👍  . However we should also make a good standardized default range as well .

[2019-02-21 05:29] sagarpreet-chadha commented on #44
Great idea 😄 !
Should we color code markers for both static/local-data markers and remote-data-fetched markers ?

And --- What is the geoJSON standard ? Also by geoJSON here , what do we mean ?

Thank you !

[2019-02-21 05:32] sagarpreet-chadha opened #45 "write tests that assert the markers are shown or hidden as in the new example code!"
Hi @jywarren ,

Can you give some examples from other repositories ? (similar examples would also work 😄 !)

Thank you 🎈 !

[2019-02-21 05:35] sagarpreet-chadha opened #46 "Segregation/Standarization/Documentation of code ."
- [ ]  let's separate out the UI code like popup code from the data management code using require() .

- [ ]  let's clarify what happens when local static data AND remote url are both provided, or move to do only one or the other per layer .
- [ ] standardize the method names returned by the constructor function to be more readable and clear .
- [ ] make some functions like getMarkersOfPrecision(i

[2019-02-27 21:01] #44 closed

[2019-02-27 22:42] jywarren commented on #45
Sure! Jasmine is nice for this kind of testing - you can use jQuery to count elements at different stages:

https://github.com/publiclab/inline-markdown-editor/blob/e2b0c19e1075b475d015df429f1b10f0b6a9ef20/spec/javascripts/replacement_spec.js#L14-L32

Take a look and it'd allow us to manipulate the map and then at different moments, check for the existence or styling (using `$('selector').hasClass

[2019-02-27 22:56] #46 closed

[2019-02-28 00:53] jywarren commented on #43
Yes! Let's work towards this and make it clear in the README too. 👍 🎉

[2019-02-28 10:51] #21 closed

[2019-02-28 17:39] jywarren opened #50 "Shaded grid should always show"
The demo looks great!

![image](https://user-images.githubusercontent.com/24359/53586242-be270d00-3b55-11e9-9269-cec4d35d6d27.png)

I noticed that if you zoom in one more step, the green marker disappears, which is correct, but the shaded square it's in also stops getting shaded. Actually I think the shading should appear for all zoom levels, does this make sense?

[2019-03-08 13:21] #43 closed

[2019-03-08 13:21] #50 closed

[2019-04-02 16:17] #45 closed

[2019-04-02 19:31] sagarpreet-chadha commented on #40
Hi @jywarren , lets release this library to npm . What do you think ? Thanks :)

[2019-04-03 19:14] jywarren commented on #17
Hi @sagarpreet-chadha could you update these checkboxes so I can get synced up about progress? Thank you so much!!!

[2019-04-04 05:53] sagarpreet-chadha commented on #17
@jywarren ...done 👍 !

[2019-04-05 20:34] #9 closed

[2019-04-05 20:51] jywarren opened #64 "Follow-up issues for LBLD docs"
Just collecting some here!!! 👍

Progress to date is really tremendous, @sagarpreet-chadha! You've done an incredible job. I'm now giving it a fresh look, and thinking about what could come next. Would love your thoughts on these!!!

* [x] `Color code the markers on the map according to the precision.` -- actually this was just to demonstrate the principle in the demo; we could keep it as a feature

[2019-04-05 20:52] jywarren commented on #64
Follow-up from #17 !!!

[2019-04-07 08:54] sagarpreet-chadha opened #66 "'n' LBLD objects for 'n' coordinate pair ?"
From #64 ,

Hi @jywarren ,

- So currently we have this `options.locations` property which takes an array of coordinates as input and then performs the normal LBLD functions on them .

- We are making only one LBL and one LBLD object currently . We pass the `map` object as options to the `LBL object` , and then this `LBL object` in `options_display` to `LBLD object` .

I think `options.locations`

[2019-04-07 11:33] sagarpreet-chadha opened #67 "Make getVisibleLocations() ."
`SourceUrl_markers_array` is this the same as above but for remote locations? What if we instead just added a property to each location like `source: 'remote'` and then only used the above `getVisibleLocations();` method instead of having 2?

@jywarren ,
To make code more modular --- we have implemented separate listeners (panning and zooming) for Local data and Remote data , hence we have made se

[2019-04-07 12:09] sagarpreet-chadha opened #68 "Add the ability to pass an array of precisions or a range into getMarkersOfPrecision() ."
Let's  add the ability to pass an array of precisions or a range (not sure how, maybe { min: 0, max: 11 } into getMarkersOfPrecision() -- we don't have to implement it, but it'd be a nice next step later.

**So this function should now return all the locations that have precision within this range .**

[2019-04-07 17:09] jywarren commented on #67
Oh that sounds great. Yes, I like the idea of internal separation that is
opaque in the external API!

On Sun, Apr 7, 2019, 7:33 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-04-08 17:23] sagarpreet-chadha commented on #66
Hi @jywarren ,
I have changed the LBL declaration syntax in PR : https://github.com/publiclab/leaflet-blurred-location/pull/195 .
 The current declaration of LBLD is pretty simple 😄  :

`var blurredLocationDisplay = new BlurredLocationDisplay(options_display);`

Should we do any change to LBLD as well ? Kindly elaborate this issue . Thanks !

[2019-04-09 00:44] jywarren commented on #66
Yeah i think it's fine - however does it set up a Leaflet map, or how do we
connect it to a leaflet map? Especially, say, if we have more than one on a
given page?

On Mon, Apr 8, 2019 at 1:23 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-04-09 08:05] sagarpreet-chadha commented on #66
So after https://github.com/publiclab/leaflet-blurred-location/pull/195 gets merged ,
It would be a 3 step process to add LBLD to maps :

1.) Make **standard leaflet object**  :
`var map123 = L.map('map').setView([23,77] , 3) ;`

2.) Pass this leaflet object to **LBL** :
`var blurredLocation = new BlurredLocation(options) ;`
`blurredLocation.addTo(map123) ;`

3.) Pass **LBL object** in `options_di

[2019-04-09 17:35] pyup-bot opened #70 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2019-04-12 17:21] sagarpreet-chadha commented on #64
Adding these here :

- [ ]  one was, to try to ensure that pages tagged with `place` get a full-width map across the top of the page (instead of in the sidebar), as we're trying to do in this page (but truly edge-to-edge and right up against the top menubar): https://publiclab.org/wiki/puerto-rico (This could feature LEL as well.)
- [ ]   A second one is - tell me what you think, but the idea of "

[2019-04-12 17:44] sagarpreet-chadha opened #73 ""recently used locations" feature"
- 1.) A second one is - tell me what you think, but the idea of "recently used locations" as a way to speed up the Leaflet Blurred Location modal; we could, on plots2, look up recently added location tags and offer them as a way to quickly add location.

- 2.) We might also use the most recent location as the default location that appears when you open the LBL modal, so it sort of assumes "near th

[2019-04-18 10:09] sagarpreet-chadha commented on #73
Logically, i think it would be great if we can calculate the last 5 latest locations (coordinates and/or placename) used by a user and show it on LBL model on plots2 .
And by default the location of map will be the last one used . What do you think  @jywarren ?

[2019-04-18 15:41] sagarpreet-chadha commented on #64
Okay so all the above issues are solved in these PR's  😄 :

-  https://github.com/publiclab/leaflet-blurred-location-display/pull/65

- https://github.com/publiclab/leaflet-blurred-location-display/pull/69

- https://github.com/publiclab/leaflet-blurred-location/pull/195

- https://github.com/publiclab/plots2/pull/5518

- https://github.com/publiclab/plots2/pull/5522

⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️

[2019-04-18 19:49] jywarren commented on #17
OK, we're almost there -- can you check off items again? thank you!!!

[2019-04-18 19:51] jywarren commented on #64
Awesome, let's close this then!

[2019-04-18 19:51] #64 closed

[2019-04-18 20:05] sagarpreet-chadha commented on #17
Done :+1:  !

[2019-04-18 22:10] jywarren commented on #73
:-) this is awesome.

On Thu, Apr 18, 2019 at 6:10 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-05-08 09:10] sagarpreet-chadha opened #76 "Submitting LBLD to Leaflet Plugins list"
Opened PR in `leaflet` repository here : https://github.com/Leaflet/Leaflet/pull/6642

[2019-05-26 18:04] aashna27 opened #78 "Weekly Community Check-in #23 - "Don't Give Up""
Hi everybody :smiley: !

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our _weekly goals and the awesome work_ we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past

[2019-05-26 18:06] aashna27 commented on #78
@mohitRJranjan @milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @geekychaser @shubhscoder @sidntrivedi012 @SidharthBansal @cesswairimu @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1, @uzorjchibuzor, @eli6, @re

[2019-05-26 19:44] gauravano commented on #78
@publiclab/community-reps @subhahu123 @An0u @Jaya738 @mgroovyank @shreyateeza @TANGL3SIT3S @nazeem1988 @karunagoyalk @Nirvikalpa108 @cassianoblonski @EngrEric @Anjalizi @GettyOrawo @coderbeetle @corbettbw @govindjeevan @gautamig54 @daddyjab @emestabillo @letnewKid @srujana121 @jazdao @ChinwenduSilvia @aggarwal19 @Jenniline @madelinejones @helenatxu @richa031 @fabsar @kuja24 @megha070 @Aarabhi2017

[2019-05-26 19:47] gauravano commented on #78
@Priyak5 @techchic @ananya @hc-barker @edwd42 @PritiShaw @themonster2015 @supriya-kotturu @AnthoniaOkafor @scheleon @mahmodHammad @santushk @jillpena @stoic-plus @starkblaze01 @aSquare14 @vaarigupta @alonpeer @madeofhuman @ibnjunaid @aashna27 @harshithpabbati @mmmelissa @rarrunategu1 @daz @UNnamed66 @GauravJ3 @Greg-Tarr @Sanscripter @hodbadger @alaxalves @becomingajunior @monsij

[2019-05-26 23:50] cesswairimu commented on #78
@aashna27 awesome check-in  :tada:
Hi all :wave:

 For the past two weeks I have been working on upgrading Mapknitter from Rails 3.2 to 4.2. A lot of  "learning experiences"(this is what I call challenges :wink: ). However frustrating/exciting this process has been, everyday I get something to work/ fix a few  tests.

Four days ago  I got everything to work (functionality wise) apart from the Imag

[2019-05-27 00:10] sashadev-sky commented on #78
hi all!

I have been working on a new exporter system for Mapknitter, along with a few other contributors. This is a challenge for me as I have never implemented an exporter system before, but @jywarren has broken it down for me along the way into clear, small tasks. It has been really rewarding to make progress on this from my end and also work together with others to contribute pieces of it that

[2019-05-27 10:50] CleverFool77 commented on #78
Hi
This is lekhika dugtal.
I'll be working on UI Improvements of project along with @gautamig54.
I'll be writing down some of points as mentioned by @SidharthBansal and @gauravano in Earlier check ins.
Last week I started off my with work for summer of code UI Imporvements and had some of my `PRs merged`.
* Cards for people section `people` https://github.com/publiclab/plots2/pull/5740
* On tags s

[2019-05-28 11:12] ananyaarun commented on #78
Hi Everyone !!
I'm Ananya an outreachy intern with Public Lab, working on Leaflet Environmental Layers repository.
Here is the jist of my project https://github.com/publiclab/leaflet-environmental-layers/issues/173

## Update on last week's progress -

### FTO's created by me
- https://github.com/publiclab/leaflet-environmental-layers/issues/189

### Progress of my project

here are some issues/PR

[2019-05-28 15:16] jywarren commented on #78
Great attitude @aashna27 !!!

@cesswairimu - do you have an issue open where you're working through the upload system? I think one complicating factor is that the images are stored in Amazon S3 in production, but locally for development, both using the Paperclip gem. But the system is similar (except for Amazon S3) to the `plots2` image storage!

Great to see everyone working together! Please give

[2019-05-28 15:32] IshaGupta18 commented on #78
Hey Everyone!

I am Isha Gupta and I am working with @namangupta01 on the project Sensor Data upload and Display Library for GSoC this summer.

Work is going on at https://github.com/publiclab/simple-data-grapher

We have the basic functionality up for a long time now, some of my PRs merged within the last couple of weeks are:

- https://github.com/publiclab/simple-data-grapher/pull/28
- https://g

[2019-05-28 21:09] jywarren commented on #78
Hi all! I wanted to share some cool graphs I made back in March  - using this using a system called hercules -- https://github.com/src-d/hercules

It's designed for making a whole bunch of different types of graphs, but a few that interested me - here's one that shows (for plots2) what year code was written in, over time:

![image](https://user-images.githubusercontent.com/24359/58509696-27beb380-

[2019-05-28 21:18] jywarren commented on #78
Also! This is cool! "Used by" is now a GitHub feature:

![image](https://user-images.githubusercontent.com/24359/58512841-188f3400-816c-11e9-86a2-10bcd48815da.png)

[2019-05-28 21:29] Divy123 commented on #78
Very nice theme @aashna27 .  I still remember when I was refactoring the core API of sequencer to provide only single image support per  sequencer, it was a whole bunch of errors, sometimes in running the code successfully, sometimes during changing the tests. But ultimately, the next version release was something that was such a big moment for me.

And this time also during SoC period, lots of ch

[2019-05-28 23:45] cesswairimu commented on #78
Thanks @jywarren, I  will compare with the plots2 image storage. I will also open an issue for the same and ping you thanks.

[2019-05-29 19:55] cryptoclidus commented on #78
Hi All!
I'm Jasmine and new to the publiclab Github. This week I completed my first FTO issue and am just getting the hang of using Github repositories.

My major challenge is overcoming the overwhelming feeling that there is just so much to learn right now! I entered here wanting to figure out how to enable a live capture from my raspberry pi's ip camera feed and complete the data processing on a

[2019-05-29 20:06] jywarren commented on #78
Welcome, @cryptoclidus! Congrats on your first FTO 🙌

Very cool to hear about your raspberry pi work. Do check out https://publiclab.org/pi-builder and https://github.com/publiclab/pi-builder/ !

Plant science FTW! 🌱

@IshaGupta18 I opened an issue to start collecting resources here: https://github.com/publiclab/plots2/issues/5794

[2019-05-29 20:10] jywarren commented on #78
I also wanted to ask if @publiclab/mentors or @publiclab/soc folks might be able to help @Divy123 with some issues in WebAssembly -- it's a bit outside my area of expertise but it's part of a really interesting project to optimize image processing in `image-sequencer`: https://github.com/publiclab/image-sequencer/issues/400#issuecomment-497088314

@Divy123 would love some help with this, and I'd r

[2019-05-29 20:24] cryptoclidus commented on #78
Thanks @jywarren ! I actually followed your [tutorial](https://publiclab.org/notes/warren/04-20-2018/prepare-an-sd-card-for-a-raspberry-pi-camera-from-scratch?_=1559161113) to get the pi all set up. I tried pi-builder first, but it didn't work so I ended up using the USB method, now it works. Turns out I didn't have Bonjour services installed (I had iTunes though!?)

[2019-05-30 00:09] gauravano commented on #78
Hi everyone, we are planning to hold an Open Call for Summer of Code interns where they can ask their questions, share their experiences and much more. Also, we would be discussing some topics like Testing, reviewing process, Unstable usage, etc.

The Open call will take place on June 4, 2019, Tuesday. Please express the time you're comfortable with  https://www.when2meet.com/?7871820-tR6Vk

Looki

[2019-05-30 00:17] sashadev-sky commented on #78
Just wanted to share a cool and inspiring article about a team of students that met online and virtually collaborated to build a rocket: https://www.wsj.com/articles/bored-teenagers-found-each-other-online-and-built-a-rocket-to-launch-into-space-11559143865

[2019-06-03 10:13] gauravano commented on #78
Hi, anyone interested in opening a new check-in?

[2019-06-03 17:53] aSquare14 commented on #78
I'll do it ! :)

On Mon, Jun 3, 2019, 3:43 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-06-03 18:01] gauravano commented on #78
Great. Please go ahead and you can refer to https://github.com/publiclab/plots2/blob/master/doc/CHECKINS.md. Thank you!

[2019-06-03 20:36] gauravano commented on #78
Hi, new check-in is open at https://github.com/publiclab/plots2/issues/5828. Thanks everyone!!

[2019-06-03 20:36] #78 closed

[2019-06-28 20:05] #73 closed

[2019-07-14 06:02] sagarpreet-chadha opened #81 "600+ weekly downloads on NPM :)"
I was checking the version number on NPM and saw that last week we had 623 downloads on NPM and currently 500+ downloads this week :)

<img width="442" alt="Screenshot 2019-07-14 at 11 30 30 AM" src="https://user-images.githubusercontent.com/14952645/61179922-df7f2600-a62a-11e9-97e3-9d6f764e706e.png">

Happy Coding 🎉 !

[2019-07-26 17:30] jywarren commented on #81
This is great, indeed! 😄

[2019-10-06 19:59] sagarpreet-chadha commented on #76
LIVE @ https://leafletjs.com/plugins.html#data-providers 🎉 !!!

[2019-10-06 19:59] #76 closed

[2020-03-09 16:28] nstjean commented on #81
Wow!

[2020-03-10 18:03] jywarren opened #97 "Refinements to popup display"
You can now see this library on by default at:

https://stable.publiclab.org/map#7/41.14399650184958/-71.81762695312501

I'd like to suggest we narrow the popups a bit, to maybe 300px? They seem excessively wide. Is there a way to let them auto-size, or use the default?

![image](https://user-images.githubusercontent.com/24359/76344353-cf156d00-62d7-11ea-986e-2285da15b68c.png)

[2020-03-10 18:08] jywarren opened #98 "Add list of users to popup for grid squares"
You can now see this library on by default at:

https://stable.publiclab.org/map#7/41.14399650184958/-71.81762695312501

I'd like to suggest we list the people in the grid square when you click it. RIght now it just says "Number of Markers" but we should show a list of usernames, each linking to the corresponding profile URL like: `https://publiclab.org/profile/<USERNAME>`

![image](https://user-i

[2020-03-11 02:08] jessibreen commented on #97
![Screen Shot 2020-03-10 at 10 05 57 PM](https://user-images.githubusercontent.com/1863783/76375104-5c2de580-631b-11ea-9e5f-6772ab127147.png)
It looks like the width of the popup is set in the css for that page. It has an important flag on it, so it is overriding the leaflet default of 300.

[2020-03-31 21:32] jywarren commented on #98
Working on this in #101 !

[2020-03-31 21:50] #98 closed

[2021-08-10 18:56] jywarren opened #133 "Show people in a region as a bulleted list within the popup"
After fixing #123, it's showing that there are "2 people" but we should be instead showing a list of the people, like:

[code]

_Originally posted by @jywarren in https://github.com/publiclab/leaflet-blurred-location-display/pull/123#issuecomment-896154396_

[2021-08-10 18:56] jywarren commented on #133
![image](https://user-images.githubusercontent.com/24359/128918873-f3e4d08f-8665-40b7-be92-3224f17a90f4.png)

[2021-08-10 18:57] jywarren commented on #133
That's odd. There should be a list already:

https://github.com/publiclab/leaflet-blurred-location-display/blob/bb806bb0e055d8358717ae1af1268959a2ea715f/src/ui/gridCenterRectangle.js#L74-L90

[2021-08-10 18:58] jywarren commented on #133
Aha! I think what happens is that it shows the count if there is no "url" property of the people. But on PublicLab.org, we do pass that. So it should be OK when run over there. I think we just need to release a new version here.

[2021-08-14 17:46] jywarren commented on #133
Published as v1.3.1! https://www.npmjs.com/package/leaflet.blurred-location-display cc @daemon1024

[2021-08-17 18:32] daemon1024 commented on #133
We will need to reopen this.

Ref https://github.com/publiclab/plots2/pull/10033#issuecomment-900495239

it seems that the parsed_data you mentioned here, is only for temporary use.

https://github.com/publiclab/leaflet-blurred-location-display/blob/d5cff82f61bd31cbb58dd11ed6ed221639ef9a26/src/blurredLocationDisplay.js#L147

we use it here, what we store in the markers object is https://github.com

[2021-08-17 18:36] jywarren commented on #133
Aha! Ok, excellent debugging! Hopefully we can solve this with a PR here and then through LEL to plots2 again?

Great detective work, @daemon1024!!!

[2021-08-17 18:37] daemon1024 commented on #133
Sure, I am on it. Can be assigned to me :)

[2021-08-17 22:51] #133 closed

[2021-08-18 14:08] jywarren opened #137 "User visible when blurred is set to true at some zoom levels"
@daemon1024 observed this; we should compare it to the described policy in the README in this repository and check if something is wrong. It still wouldn't be exposing private location data (since the principle is that we don't even store it) but it might be giving the impression of higher precision than we actually have.

-----

https://user-images.githubusercontent.com/47106543/127229892-9301a48

[2021-08-18 14:13] jywarren commented on #137
Here, it says that markers are shown until you reach a zoom level high enough that the (low/blurred) precision location they've given is no longer useful, then the marker is no longer shown:

https://github.com/publiclab/leaflet-blurred-location-display#1-lower-the-precision--greater-the-privacy-

However, I wonder if we shouldn't show a marker at all for blurred locations, if we are in "heatmap"

[2022-02-15 11:25] valerio-bozzolan opened #142 "Demo problem"
Hi all! I've checked the demo and the tileserver has some problems:

https://publiclab.github.io/leaflet-blurred-location-display/examples/HumanReadableBlurring.html

It's maybe an easy fix, adopting OpenStreetMap default tileserver.

Here a screenshot:

![Screenshot_2022_02_15_122739](https://user-images.githubusercontent.com/6052909/154053250-0fa391e1-e05b-4374-b4bd-04efcf2c35ab.png)

----

Orig